# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Enviromental variables
.env

# Secrets
client_secret.json
credentials.json
token.json

# PGDATA
pgdata/pgdata

# Binaries
storeManagerBotApp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage

/cypress/videos/
/cypress/screenshots/

*.tsbuildinfo

# Caddyfile
Caddyfile
Caddyfile.production

# Environments for secrets.
./backend/enviromental/*
!./backend/enviromental/.keep
./frontend/enviromental/*
!./frontend/enviromental/.keep